@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sümer Mahallesi<br />
    Muhsin Ertuğrul Sokak 48/2 Odunpazarı/Eskişehir<br />
    <abbr title="Phone">+90 532 164 50 26</abbr>
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:muhammed.ikbal.karakaya@gmail.com">muhammed.ikbal.karakaya@gmail.com</a><br />

</address>