@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mvc Öğreniyorum</h1>
    <p class="lead">Adım adım ilerlemeler ile Mvc Web Projesi Bitecek.</p>
    <p><a href="https://www.udemy.com/the-complete-aspnet-mvc-5-course/" class="btn btn-primary btn-lg">Mvc Öğrenmek İçin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Geliştirmeye Başladım</h2>
        <p>
            Mobil ile uyumlu, server'i yormayan esnek dinamik ve veritabanı ile uyumlu çalışan kullanıcıya hitap eden web sitesinin alt yapısı sunulacak
        </p>
    </div>

</div>